//color scheme

$color-primary: #377695;
$color-primary-light: #9ec6d8;
$color-primary-dark: #1a334c;
$color-grey-light: #dad7de;
$color-secondary: #e7c044;
$color-secondary-light: #f5eeb2;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 28.75rem; // 400px

// reusable class
.heading-2 {
  color: $color-primary-dark;
  border-bottom: 3px solid $color-secondary-light;
  box-shadow: 3rem 1rem 2rem rgba($color-secondary, 0.3);
  font-size: 3.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 6rem;

  @media only screen and (max-width: $bp-largest) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 2rem;
  }
}

.text {
  font-size: 1.5rem;
  color: $color-primary;
  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  padding: 2rem;
}
