.heading-2 {
  color: #1a334c;
  border-bottom: 3px solid #f5eeb2;
  box-shadow: 3rem 1rem 2rem rgba(231, 192, 68, 0.3);
  font-size: 3.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 75em) {
  .heading-2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .heading-2 {
    font-size: 2rem;
  }
}

.text {
  font-size: 1.5rem;
  color: #377695;
}
@media only screen and (max-width: 50em) {
  .text {
    font-size: 1rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  padding: 2rem;
}

.header {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 6rem 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}
@media only screen and (max-width: 75em) {
  .header {
    padding: 6rem 8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .header {
    padding: 6rem 4rem;
  }
}
@media only screen and (max-width: 50em) {
  .header {
    height: 70vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header_text {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header_text h2 {
  border-bottom: 3px solid #f5eeb2;
  box-shadow: 3rem 1rem 2rem rgba(231, 192, 68, 0.3);
}
.header_text h1 {
  font-size: 4rem;
  font-weight: 500;
}
@media only screen and (max-width: 75em) {
  .header_text h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .header_text h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 50em) {
  .header_text h1 {
    font-size: 2rem;
  }
}
.header_text h1 span {
  color: #e7c044;
}
.header_img {
  width: -moz-fit-content;
  width: fit-content;
}
.header_img img {
  display: block;
  height: calc(90vh - 6rem);
}
@media only screen and (max-width: 62.5em) {
  .header_img img {
    height: 30rem;
  }
}
@media only screen and (max-width: 50em) {
  .header_img img {
    height: 20rem;
  }
}
.header_link {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .header_link {
    margin-top: 2rem;
  }
}
.header_icon {
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  margin: 0 2rem;
  color: #fff;
}
@media only screen and (max-width: 50em) {
  .header_icon {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
.header .btn:link, .header .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #377695;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 4rem;
  background-color: #e7c044;
  border-radius: 100px;
  box-shadow: 0 1rem 2rem rgba(55, 118, 149, 0.2);
  transition: all 0.5s;
  position: relative;
  margin: 0 10px;
  align-self: center;
}
@media only screen and (max-width: 62.5em) {
  .header .btn:link, .header .btn:visited {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 50em) {
  .header .btn:link, .header .btn:visited {
    transform: scale(0.5);
  }
}
@media only screen and (max-width: 37.5em) {
  .header .btn:link, .header .btn:visited {
    align-self: center;
  }
}
.header .btn:hover, .header .btn:active {
  background-color: #f5eeb2;
  transform: translateY(-3px);
}
.header .btn:hover::after, .header .btn:active::after {
  transform: scale(1.5);
  opacity: 0;
}
.header .btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f5eeb2;
  opacity: 1;
  transition: all 0.5s;
}

.story {
  background-color: #dad7de;
  height: 60vh;
}
@media only screen and (max-width: 37.5em) {
  .story {
    height: 100vh;
  }
}
.story .container {
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}

.project {
  background-image: linear-gradient(to bottom right, rgba(158, 198, 216, 0.8), rgba(55, 118, 149, 0.8)), url(../img/project.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.project .container {
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}/*# sourceMappingURL=main.css.map */